admin:
  access_log_path: /dev/null
  address:
    socket_address: { address: 0.0.0.0, port_value: 10000 }
dynamic_resources:
  lds_config:
    resource_api_version: V3
    ads: {}
  cds_config:
    resource_api_version: V3
    ads: {}
  ads_config:
    transport_api_version: V3
    api_type: GRPC
    grpc_services:
      envoy_grpc:
        cluster_name: envoy-control-xds
node:
  cluster: test-cluster
  id: test-id
  metadata:
    ads: true
    proxy_settings:
      incoming:
        healthCheck:
          path: "/status/custom"
        endpoints:
          - path: "/endpoint"
            clients: ["authorizedClient"]

static_resources:
  clusters:
  - connect_timeout: 1s
    load_assignment:
      cluster_name: envoy-control-xds
      endpoints:
        - lb_endpoints:
            - endpoint:
                address:
                  socket_address:
                    address: HOST_IP
                    port_value: HOST_PORT
            - endpoint:
                address:
                  socket_address:
                    address: HOST_IP
                    port_value: HOST2_PORT
    http2_protocol_options: {}
    name: envoy-control-xds
  - name: local_service
    type: STATIC
    load_assignment:
      cluster_name: local_service
      endpoints:
        - lb_endpoints:
            - endpoint:
                address:
                  socket_address:
                    address: LOCAL_SERVICE_IP
                    port_value: 5678
    connect_timeout: 1s
  - name: local_service_health_check
    type: STATIC
    load_assignment:
      cluster_name: local_service_health_check
      endpoints:
        - lb_endpoints:
            - endpoint:
                address:
                  socket_address:
                    address: LOCAL_SERVICE_IP
                    port_value: 5678
    connect_timeout:
      seconds: 1
  - name: this_admin
    type: STATIC
    load_assignment:
      cluster_name: this_admin
      endpoints:
        - lb_endpoints:
            - endpoint:
                address:
                  socket_address:
                    address: 127.0.0.1
                    port_value: 10000
    connect_timeout:
      seconds: 1
  listeners:
  - name: default_listener
    address:
      socket_address:
        address: 0.0.0.0
        port_value: 5000
    filter_chains:
      filters:
      - name: envoy.filters.network.http_connection_manager
        typed_config:
          "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
          stat_prefix: egress_http
          rds:
            route_config_name: default_routes
            config_source:
              resource_api_version: V3
              ads: {}
          http_filters:
          - name: envoy.filters.http.router
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router
  - name: ingress_listener
    address:
      socket_address:
        address: 0.0.0.0
        port_value: 5001
    filter_chains:
      - filters:
          - name: envoy.filters.network.http_connection_manager
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
              stat_prefix: ingress_http
              rds:
                route_config_name: ingress_secured_routes
                config_source:
                  resource_api_version: V3
                  ads: {}
              http_filters:
                - name: envoy.filters.http.router
                  typed_config:
                    "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router
