version: '3'

services:
  consul:
    container_name: consul
    image: consul:1.10.12
    ports:
      - "18500:8500"
      - "18300:8300"
    volumes:
      - ./tmp/config:/config
      - ./tmp/_data/consul:/data
    command: agent -server -data-dir=/data -bind 0.0.0.0 -client 0.0.0.0 -bootstrap-expect=1 -ui

  http-echo:
    depends_on:
      - consul
    build:
      context: ./service
      dockerfile: Dockerfile

  envoy:
    build:
      context: ./envoy
      dockerfile: Dockerfile
    ports:
      - "9999:9999"
      - "31000:31000"
      - "31001:31001"

  envoy-control:
    container_name: envoy-control
    build:
      context: ../
      dockerfile: tools/envoy-control/Dockerfile
    ports:
      - "8080:8080"
      - "50000:50000"
    # here you can define path to your own config
    volumes:
      - "../envoy-control-runner/src/main/resources/application-docker.yaml:/var/tmp/config/application.yaml"
    depends_on:
      - consul
    environment:
      - ENVOY_CONTROL_PROPERTIES=
